.circle {
    border: 1px solid black;
    border-radius: 50%;
    width:50px;
    height:50px;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.one {
    flex-grow: 1;
}
.two {
    flex-grow: 2;
}
.three {
    flex-grow: 2;
}
.four {
    flex-grow: 2;
}
.five {
    flex-grow: 2;
}
.six {
    flex-grow: 2;
}
.justifyCenter {
    display: flex;
    justify-content: center;
}
.alignCenter {
    display: flex;
    align-items: center;
}